:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.head {
    width: 100vw;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

.container {
    width: 1352px;
    margin: 0 auto;
    height: 100%;
}

.nav_top {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.nav__logo {
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0;
    color: #08A6E4;
    opacity: 1;
    text-decoration: none;
}

.nav__ul {
    display: flex;
    text-align: center;
    color: black;
}

.nav__li {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.25rem;
    color: #A5A5A5;
    opacity: 1;
    margin: 20px;
    text-decoration: none;
}

.nav__li:hover, .nav__li:focus {
    color: black;
}