:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.head {
    width: 100vw;
    background: var(--color-white) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

.container {
    width: 1352px;
    margin: 0 auto;
    height: 100%;
}

.nav_top {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.nav__logo {
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0;
    color: var(--color-primary);
    opacity: 1;
    text-decoration: none;
}

.nav__ul {
    display: flex;
    text-align: center;
    color: var(--color-black);
}

.nav__li {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.25rem;
    color: var(--color-grey);
    opacity: 1;
    margin: 20px;
    text-decoration: none;
}

.nav__li:hover, .nav__li:focus {
    color: var(--color-black);
}

.banner {
    text-align: center;
    color: var(--color-black);
    opacity: 1;
    margin-top: 200px;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font: normal normal normal 49px/57px Raleway;
}

.banner__text {
    font: normal normal normal 16px/22px Open Sans;
    margin: 20px;
}

.button__banner {
    background: var(--color-primary) 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    border-radius: 40px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0;
    color: var(--color-white);
    text-decoration: none;
    padding: 25px 160px 25px 160px;
    margin-top: 20px;
    align-self: center;
}

h2 {
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0;
    color: var(--color-black);
    opacity: 1;
    margin: 100px;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin: 0 230px 0 230px;
}

.icons__img {
    margin-left: 60px;
    position: relative;
}

.icons__number {
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 0.4rem;
    color: var(--color-black);
    opacity: 1;
    margin: 20px 0 20px 0;
}

.icons__text {
    text-align: center;
    font: normal normal normal 17px/20px Raleway;
    letter-spacing: 0;
    color: var(--color-grey);
    opacity: 1;
}

.icon__1::before {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background: var(--color-redish) 0 0 no-repeat padding-box;
    opacity: 0.8;
    position: absolute;
    border-radius: 50%;
    left: 535px;
    bottom: -350px;
}

.icon__2::before {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background: var(--color-primary) 0 0 no-repeat padding-box;
    opacity: 0.8;
    position: absolute;
    border-radius: 50%;
    left: 930px;
    bottom: -350px;
}

.icon__3::before {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background: var(--color-green) 0 0 no-repeat padding-box;
    opacity: 0.8;
    position: absolute;
    border-radius: 50%;
    right: 525px;
    bottom: -350px;
}